body{
    background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));
    background-size: cover;
    height: 100vh;
    padding-top: 65px;
}
.dropdown .btn {
    border: none;
    outline: none;
}
.dropdown .btn [class*="mdi mdi-"] {
    font-size: 24px;
}
.dropdown.dropstart .btn::before {
    margin-right: -4px;
    margin-bottom: 4px;
    display: none;
}
.dropdown.dropstart .btn.show::before {
    display: inline-block;
}

.mdi.mdi-20px{
    font-size: 20px;
    line-height: 90%;
    position: relative;
    top: 3px;
}

/*
* NAVBAR */
[role=lighter] .navbar.navbar-lighter {
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0 0;
    min-height: 40px;
    padding: 0 15px;
}
[role=lighter] .navbar.navbar-lighter .navbar-brand {
    height: 40px;
    margin: 0 0;
}
[role=lighter] .navbar.navbar-lighter .navbar-toggler {
    border: none;
}
[role=lighter] .navbar.navbar-lighter .navbar-toggler:focus {
    box-shadow: none;
}
[role=lighter] .navbar.navbar-lighter .collapse {
    border-top: 1px solid transparent;
}
[role=lighter] .navbar.navbar-lighter .collapse.show {
    padding: 10px 10px;
}
[role=lighter] .navbar.navbar-lighter .nav .nav-link {
    color: #777;
}
[role=lighter] .navbar.navbar-lighter .nav .nav-link [class*="mdi mdi-"] {
    font-size: 20px;
    line-height: 90%;
    position: relative;
    top: 2px;
}


/*
* CARD STYLE */
.card.card-silveryMoon {
    background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));
}

